html {
height: 100%;
    margin: 0;
}
#allfunction ::selection {
    background-color: #e2e2e2;
    color: #f351ff;
}

body {position: relative;}
footer {position: absolute; bottom: 0;}
* {-moz-box-sizing: border-box; box-sizing: border-box;}
body{
    background-color: #fff;
    margin:0 auto;
        max-width: 100%;
    width: 100%;
    overflow: auto;
      min-height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  width: auto;
        margin: 0;
        padding: 0;
  
}
header {
    max-width: 1069px;
    padding: 70px 0 0;
    margin: 0 auto;
    height: 20px;
}
.logoheader {
    height: 35px;
    float: left;
    margin-top: -7px;
}
header nav a.menu {
    display: none;
    text-decoration: none;
}
header nav ul {
margin-left: 477px;
    margin-top: -1px;
}

header nav ul li {
    display: inline-block;
}
header nav ul li a {
color: #000;
    font-size: 18px;
    text-decoration: none;
    margin-left: 79px;
    font-family: 'Brandon Grotesque';
    letter-spacing: 1px;
    transition-property: color;
    transition-duration: 0.4s;
    transition-delay: 0.2s;
}
header nav ul li a:hover {
color: #0303DD;
    font-size: 18px;
    text-decoration: none;
    margin-left: 79px;
    font-family: 'Brandon Grotesque';
    transition-property: color;
    transition-duration: 0.4s;
    transition-delay: 0.2s; 
}

.wrapper {
    max-width: 1069px;
    margin: 165px auto;
}
.hero {
    position: relative;
    min-height: 500px;
}
h1 {
font-family: 'Brandon Grotesque';
    letter-spacing: 1px;
    font-size: 3em;
}
.hero span {
  color: #0A0ADC
}
.hero p {
font-family: 'Poppins';
    color: #AEAEAE;
    font-size: 21px;
}
.hero img {
height: 315px;
    float: right;
    margin-top: 7px;
    margin-right: -202px;
}
.hero .buttonworkhero {
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    border-radius: 40px;
    border: solid #0A0ADC 2px;
    background: #0A0ADC;
    height: 46.88px;
    color: #fff;
    width: 163.4px;
    font-size: 10px;
    margin-top: 21px;
    cursor: auto;
      -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hero .buttonworkhero:hover {
      -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.hero .buttoncontacthero {
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    border-radius: 40px;
    border: solid #95989A 1px;
    background: none;
    height: 46.88px;
    color: #95989A;
    width: 163.4px;
    font-size: 10px;
    margin-top: 21px;
    cursor: auto;
    margin-left: 35px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hero .buttoncontacthero:hover {
      font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    border-radius: 40px;
    border: solid #95989A 1px;
    height: 46.88px;
    color: #95989A;
    width: 163.4px;
    font-size: 10px;
    cursor: auto;
      -webkit-transform: scale(1.1);
  transform: scale(1.1);
  }
  .wrapper .what-we-do {
    position: relative;
    min-height: 500px;
    margin-top: -67px;
  }
  .wrapper .what-we-do h2 {
 font-family: 'Brandon Grotesque';
    color: #0A0ADC;
    text-align: center;
    font-size: 2em;
  }
    .wrapper .what-we-do .desc-under-title {
color: #B1B1B1;
    font-family: Poppins;
    text-align: center;
    font-size: 20px;
  }
  .wrapper .what-we-do .img-set {
    height: 198px;
    float: left;
    margin-left: 160px;
    margin-top: -81px;
  }
  .icon-one {
        margin-top: 114px;
  }
.icon-desc-one {
    font-family: 'Brandon Grotesque';
    color: #4E4E4E;
    font-size: 29px;
}
  .wrapper .we-work-with {
    position: relative;
    min-height: 500px;
    margin-top: 124px;
  }
    .wrapper .we-work-with h3 {
    font-family: 'Brandon Grotesque';
    color: #0A0ADC;
    text-align: center;
    font-size: 2em;
    }
        .wrapper .we-work-with .toolpic {
    height: 197px;
    display: block;
    margin: -23px auto;
    }
    .wrapper .our-work {
   margin-top: -201px;
    }
    .wrapper .our-work h4 {
font-family: 'Brandon Grotesque';
    color: #0A0ADC;
    text-align: center;
    font-size: 2em;
    }
    .wrapper .our-work .sneak-peak img {
height: 275px;
    margin-top: 89px;
    margin-left: 83px;
          -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
    }
        .wrapper .our-work .sneak-peak img:hover {
height: 275px;
    margin-top: 89px;
    margin-left: 83px;
      -webkit-transform: scale(1.1);
  transform: scale(1.1);
    }
.illusfinal {
         margin-top: 83px;
}
footer {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: -304px auto;
    padding: 58px 0;
}
footer img {
  height: 33px;
}
footer h5 {
  font-family: poppins;
  color : #000;
  font-weight: 600;
  letter-spacing: 0.4px;
  margin-top: 5px;
}
footer p {
font-family: poppins;
color : #B1B1B1;
font-size: 12px;
}
footer .footer-menu {
    margin-left: 306px;
    margin-top: -146px;
}
footer .footer-menu ul {
      list-style: none;
    padding-left: 0;
    margin-top: 8px;
}
footer .footer-menu ul li a {
text-decoration: none;
    color: #a5a5a5;
    font-size: 16px;
    font-family: poppins;
}
footer .footer-menu ul li {
          padding: 43px 0 0 30px;
}
footer .footer-menu ul h1 {
              font-size: 18px;
    margin-left: 29px;
    margin-top: 26px;
}
footer .footer-social {
margin-left: 480px;
    margin-top: -333px;
}
footer .footer-social ul {
      list-style: none;
    padding-left: 0;
    margin-top: 8px;
}
footer .footer-social ul li a {
text-decoration: none;
    color: #a5a5a5;
    font-size: 16px;
    font-family: poppins;
}
footer .footer-social ul li {
          padding: 43px 0 0 30px;
}
footer .footer-social ul h1 {
              font-size: 18px;
    margin-left: 29px;
    margin-top: 26px;
}
footer .footer-other {
margin-left: 680px;
    margin-top: -265px;
}
footer .footer-other ul {
      list-style: none;
    padding-left: 0;
    margin-top: 8px;
}
footer .footer-other ul li a {
text-decoration: none;
    color: #a5a5a5;
    font-size: 16px;
    font-family: poppins;
}
footer .footer-other ul li {
          padding: 43px 0 0 30px;
}
footer .footer-other ul h1 {
              font-size: 18px;
    margin-left: 29px;
    margin-top: 26px;
}
@media screen and (max-width: 1093px){
.hero {
    position: relative;
    min-height: 500px;
}
.hero img {
    display: none;
}
h1 {
      font-family: 'Brandon Grotesque';
    letter-spacing: 1px;
    text-align: center;
}
.hero p {
    font-family: 'Poppins';
    color: #AEAEAE;
    font-size: 16px;
    text-align: center;
}
.hero .buttonworkhero {
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    border-radius: 40px;
    border: solid #0A0ADC 2px;
    background: #0A0ADC;
    height: 46.88px;
    color: #fff;
    width: 163.4px;
    font-size: 10px;
    margin-top: 21px;
    cursor: auto;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    display: block;
    margin: 0 auto;
    margin-top: 34px;
    transition-property: transform;
}
.hero .buttoncontacthero {
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    border-radius: 40px;
    border: solid #95989A 1px;
    background: none;
    height: 46.88px;
    color: #95989A;
    width: 163.4px;
    font-size: 10px;
    margin-top: 21px;
    cursor: auto;
    margin-left: 35px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    display: block;
    margin: 0 auto;
    margin-top: 31px;
    transition-property: transform;
}
.wrapper .what-we-do {
    position: relative;
    min-height: 500px;
    margin-top: -81px;
}
footer .footer-menu ul h1 {
   display: none;
}
footer .footer-social ul h1 {
display: none;
}
footer .footer-other ul h1 {
display: none;
}
}